<%# locals: (list:) -%>

<div class="h-full flex flex-col overflow-y-auto bg-white rounded-xl py-6 dark:bg-slate-900 dark:border-slate-800">
  <div class="px-6 flex items-center justify-between gap-2 ">
    <div class="">
    </div>
    <div class="flex justify-end gap-2">
      <button type="button" class="size-8 bg-slate-200 text-slate-500 hover:bg-slate-300 hover:text-slate-600 dark:bg-slate-800 dark:text-slate-400 dark:hover:bg-slate-700 dark:hover:text-white inline-flex items-center justify-center rounded-full">
        <%= icon "star-fill", classes: "size-4" %>
      </button>
      <details class="relative z-50">
        <summary class="marker-none cursor-pointer">
          <div class="size-8 bg-slate-200 text-slate-500 hover:bg-slate-300 hover:text-slate-600 dark:bg-slate-800 dark:text-slate-400 dark:hover:bg-slate-700 dark:hover:text-white inline-flex items-center justify-center rounded-full">
            <%= icon "three-dots-vertical", classes: "size-4" %>
          </div>
        </summary>
        <ul class="absolute right-0 z-50 w-48 overflow-hidden rounded-xl bg-slate-200 py-1 shadow dark:bg-slate-950">
          <li>
            <a href="#" class="flex items-center gap-2 whitespace-nowrap px-2 py-1 hover:bg-slate-300 dark:hover:bg-slate-900">
              <%= icon "check2-square", classes: "size-3" %>
              Hide completed tasks
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center gap-2 whitespace-nowrap px-2 py-1 hover:bg-slate-300 dark:hover:bg-slate-900">
              <%= icon "arrow-counterclockwise", classes: "size-3" %>
              Mark all incomplete
            </a>
          </li>
          <li>
            <%= button_to list, method: :delete,
                  class: "flex items-center gap-2 w-full whitespace-nowrap px-2 py-1 text-red-500 hover:bg-slate-300 dark:hover:bg-slate-900",
                  form: { data: { turbo_confirm: "Are you sure you want delete?" } } do %>
                    <%= icon "trash3", classes: "size-3 text-red-500" %>
                    Delete list
            <% end %>
          </li>
        </ul>
      </details>
    </div>
  </div>

  <div class="max-w-3xl px-12 mx-auto mt-6 mb-6 space-y-6 flex flex-col flex-grow">
    <%= form_with(model: list, class: "", data: { controller: 'autosave' }) do |form| %>
      <%= form.text_field :title, class: "peer w-11/12 bg-transparent text-5xl placeholder:text-slate-600 focus:outline-none", placeholder: "Untitled", autofocus: true, autocomplete: false, value: form.object.title %>
      <%= form.submit class: "sr-only" %>
    <% end %>

    <section class="flex flex-grow flex-col justify-end">
      <%= form_with(model: list, class: "flex-grow flex flex-col", data: { turbo_permanent: true }) do |form| %>
        <%= form.rich_text_area :description, rows: 10, class: "h-full", placeholder: "Start typing..." %>
        <%= form.submit class: "sr-only" %>
      <% end %>
    </section>
  </div>
</div>
