<% content_for :alternative do %>
  <span>Don't have an account?</span>
  <%= link_to "Sign up", sign_up_path, class: "font-bold hover:underline" %>
<% end %>

<h1 class="font-bold text-4xl">
  Sign in
</h1>

<div class="max-w-sm mx-auto text-left">
  <%= form_with(url: sessions_path, class: "space-y-6") do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= form.text_field :email, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-300 focus:ring focus:ring-orange-200 focus:ring-opacity-50" %>
    </div>

    <div>
      <%= form.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
      <%= form.password_field :password, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-300 focus:ring focus:ring-orange-200 focus:ring-opacity-50" %>
    </div>

    <div>
      <%= form.submit class: "flex w-full justify-center rounded-md bg-orange-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600" %>
    </div>
  <% end %>
</div>
