<p style="color: green"><%= notice %></p>

<%= render @session %>

<div>
  <%= link_to "Edit this session", edit_session_path(@session) %> |
  <%= link_to "Back to sessions", sessions_path %>

  <%= button_to "Destroy this session", @session, method: :delete %>
</div>
