<%# locals: (tasks:) -%>

<ul class="mt-2 space-y-2 [view-transition-name:tasks]">
  <% tasks.each do |task| %>
    <li class="group flex gap-x-2 items-center flex-wrap">
      <%= button_to task, action: "update", form_class: "size-6 relative group", params: { task: {completed: "toggle"} }, class: "text-slate-500 dark:text-slate-400" do %>
        <% if task.completed? %>
          <%= icon "check2", classes: "size-4 absolute inset-x-0 mx-auto top-[5px] text-orange-500" %>
          <%= icon "app", classes: "size-6 absolute inset-0 text-orange-500" %>
        <% else %>
          <%= icon "check2", classes: "size-4 text-slate-400 dark:text-slate-500 absolute inset-x-0 mx-auto top-[5px] invisible group-hover:visible" %>
          <%= icon "app", classes: "size-6 absolute inset-0" %>
        <% end %>
      <% end %>

      <% if task.completed? %>
        <p class="w-10/12 text-base dark:text-slate-400 line-through decoration-orange-500"><%= task.title %></p>
      <% else %>
        <%= text_field_tag "foo", task.title, class: "peer bg-transparent w-10/12 placeholder:text-slate-600 focus:outline-none", placeholder: "New task" %>
      <% end %>

      <%= render "assignee_popover_form", task: task, context: "collection" %>

      <%= link_to task, class: "size-5 text-slate-400 hover:bg-slate-200 hover:text-slate-500 dark:hover:bg-slate-800 dark:hover:text-white inline-flex items-center justify-center rounded-full" do %>
        <%= icon "arrow-right", classes: "size-2.5 text-slate-400" %>
      <% end %>

      <div class="flex-grow w-full flex items-center gap-1">
        <span class="w-6">&nbsp;</span>
        <details class="relative">
          <summary class="marker-none cursor-pointer">
            <div class="text-slate-400 hover:bg-slate-200 hover:text-slate-500 dark:hover:bg-slate-800 dark:hover:text-white inline-flex items-center justify-center rounded-full text-xs py-1 px-2 -ml-1 gap-1">
              <%= icon "calendar3", classes: "size-2.5 text-slate-400" %>
            </div>
          </summary>
          <div class="absolute z-50 max-w-md w-max py-1 bg-slate-200 dark:bg-slate-950 shadow rounded-xl overflow-hidden divide-y divide-slate-300 dark:divide-slate-800">
            <div class="py-1" role="none">
              <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
                <%= icon "calendar3", classes: "size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" %>
                Today
              </a>
              <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
                <%= icon "calendar3", classes: "size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" %>
                Tomorrow
              </a>
              <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
                <%= icon "calendar3", classes: "size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" %>
                Next week
              </a>
            </div>
            <div class="py-1" role="none">
              <div class="flex items-center px-4 py-1">
                <h2 class="flex-auto text-sm font-semibold text-gray-900 dark:text-white">January 2022</h2>
                <button type="button" class="-my-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Previous month</span>
                  <%= icon "chevron-left", classes: "size-5" %>
                </button>
                <button type="button" class="-my-1.5 -mr-1.5 ml-2 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Next month</span>
                  <%= icon "chevron-right", classes: "size-5" %>
                </button>
              </div>
              <div class="py-2 px-1 grid grid-cols-7 text-center text-sm leading-6 text-gray-500 dark:text-white">
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>T</div>
                <div>F</div>
                <div>S</div>
                <div>S</div>
              </div>
              <div class="mt-2 grid grid-cols-7 gap-1 text-sm px-2">
                <!--
                  Always include: "mx-auto flex size-8 items-center justify-center rounded-full"
                  Is selected, include: "text-white"
                  Is not selected and is today, include: "text-indigo-600"
                  Is not selected and is not today and is current month, include: "text-gray-900"
                  Is not selected and is not today and is not current month, include: "text-gray-400"
                  Is selected and is today, include: "bg-indigo-600"
                  Is selected and is not today, include: "bg-gray-900"
                  Is not selected, include: "hover:bg-gray-200"
                  Is selected or is today, include: "font-semibold"
                -->
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2021-12-27">27</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2021-12-28">28</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2021-12-29">29</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2021-12-30">30</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2021-12-31">31</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-01">1</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-02">2</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-03">3</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-04">4</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-05">5</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-06">6</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-07">7</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-08">8</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-09">9</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-10">10</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-11">11</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50 border border-slate-700">
                  <time datetime="2022-01-12">12</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-13">13</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-14">14</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-15">15</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-16">16</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-17">17</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-18">18</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-19">19</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-20">20</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50 bg-orange-600">
                  <time datetime="2022-01-21">21</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-22">22</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-23">23</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-24">24</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-25">25</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-26">26</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-27">27</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-28">28</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-29">29</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-30">30</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
                  <time datetime="2022-01-31">31</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2022-02-01">1</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2022-02-02">2</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2022-02-03">3</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2022-02-04">4</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2022-02-05">5</time>
                </button>
                <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
                  <time datetime="2022-02-06">6</time>
                </button>
              </div>
            </div>
            <div class="py-1" role="none">
              <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
                <%= icon "clock", classes: "size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" %>
                Time
              </a>
            </div>
            <div class="py-1" role="none">
              <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
                <%= icon "bell", classes: "size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" %>
                Remind me
              </a>
            </div>
            <div class="py-1" role="none">
              <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
                <%= icon "repeat", classes: "size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" %>
                Repeat
              </a>
            </div>
          </div>
        </details>

        <%= render "labels_popover_form", task: task, context: "collection" %>

        <%= render "list_popover_form", task: task, context: "collection" %>
      </div>
    </li>
  <% end %>
</ul>
