<%= form_with(model: task, data: { controller: :form, action: "turbo:submit-end->form#clear" }) do |form| %>
  <%= form.label :title, class: "peer dark:hover:bg-slate-800 py-1 pr-6 pl-[6.5rem] group/input flex gap-x-2 items-center flex-wrap" do %>
    <%= icon "app-indicator", classes: "size-6 text-slate-400 dark:text-slate-600" %>
    <%= form.text_field :title, class: "peer bg-transparent focus:w-10/12 w-[7ch] placeholder:text-slate-600 focus:outline-none", placeholder: "New task", autocomplete: false, value: form.object.title || "" %>
    <span class="peer-focus:invisible inline-flex items-center justify-center size-5 rounded-full bg-slate-200 text-slate-500 dark:bg-slate-800 dark:text-slate-600 dark:group-hover/input:bg-slate-700 dark:group-hover/input:text-slate-500">C</span>
    <details class="ml-auto invisible group-hover/input:visible peer-focus:visible open:visible relative">
      <summary class="marker-none cursor-pointer">
        <div class="size-5 text-slate-400 hover:bg-slate-200 hover:text-slate-500 dark:hover:bg-slate-700 dark:hover:text-white inline-flex items-center justify-center rounded-full">
          <%= icon "person", classes: "size-2.5 text-slate-400" %>
        </div>
      </summary>
      <div class="absolute z-50 max-w-md w-max py-1 bg-slate-200 dark:bg-slate-950 shadow rounded-xl overflow-hidden divide-y divide-slate-300 dark:divide-slate-800">
        <div class="py-1" role="none">
          <div class="group flex items-center gap-2 px-4 py-1 text-slate-800 dark:text-white whitespace-nowrap">
            <svg class="bi bi--search size-3 text-inherit" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            <input class="bg-transparent focus:outline-none" placeholder="Search for name">
          </div>
        </div>
        <div class="py-1" role="none">
          <label class="group/label flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <input type="radio" name="assignee" class="peer appearance-none w-0 hidden">
            <span class="inline-flex size-4 items-center justify-center rounded-full bg-blue-500">
              <span class="text-xs leading-none text-white">J</span>
            </span>
            John Doe
            <svg class="bi bi--check2 size-4 ml-auto text-orange-500 invisible peer-checked:visible" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
            </svg>
          </label>
          <label class="group/label flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <input type="radio" name="assignee" class="peer appearance-none w-0 hidden">
            <span class="inline-flex size-4 items-center justify-center rounded-full bg-green-500">
              <span class="text-xs leading-none text-white">S</span>
            </span>
            Sally Doe
            <svg class="bi bi--check2 size-4 ml-auto text-orange-500 invisible peer-checked:visible" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
            </svg>
          </label>
        </div>
        <div class="p-2" role="none">
          <button type="button" class="rounded-full bg-slate-300 hover:bg-slate-400 dark:bg-slate-900 dark:hover:bg-slate-800 h-8 w-full">
            Clear
          </button>
        </div>
      </div>
    </details>
  <% end %>
  <div class="w-full pl-[6.5rem] flex items-center gap-1 pointer-events-none ease-out duration-200 opacity-0 -translate-y-6 peer-focus-within:opacity-100 peer-focus-within:translate-y-0 peer-focus-within:pointer-events-auto focus-within:opacity-100 focus-within:translate-y-0 focus-within:pointer-events-auto">
    <span class="w-6">&nbsp;</span>
    <details class="relative z-0">
      <summary class="marker-none cursor-pointer">
        <div class="text-slate-400 hover:bg-slate-200 hover:text-slate-500 dark:hover:bg-slate-800 dark:hover:text-white inline-flex items-center justify-center rounded-full text-xs py-1 px-2 -ml-1 gap-1">
          <svg class="bi bi--calendar3 size-2.5 text-slate-400" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
        </div>
      </summary>
      <div class="absolute z-50 max-w-md w-max py-1 bg-slate-200 dark:bg-slate-950 shadow rounded-xl overflow-hidden divide-y divide-slate-300 dark:divide-slate-800">
        <div class="py-1" role="none">
          <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <svg class="bi bi--calendar3 size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
            </svg>
            Today
          </a>
          <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <svg class="bi bi--calendar3 size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
            </svg>
            Tomorrow
          </a>
          <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <svg class="bi bi--calendar3 size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
            </svg>
            Next week
          </a>
        </div>
        <div class="py-1" role="none">
          <div class="flex items-center px-4 py-1">
            <h2 class="flex-auto text-sm font-semibold text-gray-900 dark:text-white">January 2022</h2>
            <button type="button" class="-my-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Previous month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <button type="button" class="-my-1.5 -mr-1.5 ml-2 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Next month</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          <div class="py-2 px-1 grid grid-cols-7 text-center text-sm leading-6 text-gray-500 dark:text-white">
            <div>M</div>
            <div>T</div>
            <div>W</div>
            <div>T</div>
            <div>F</div>
            <div>S</div>
            <div>S</div>
          </div>
          <div class="mt-2 grid grid-cols-7 gap-1 text-sm px-2">
            <!--
              Always include: "mx-auto flex size-8 items-center justify-center rounded-full"
              Is selected, include: "text-white"
              Is not selected and is today, include: "text-indigo-600"
              Is not selected and is not today and is current month, include: "text-gray-900"
              Is not selected and is not today and is not current month, include: "text-gray-400"
              Is selected and is today, include: "bg-indigo-600"
              Is selected and is not today, include: "bg-gray-900"
              Is not selected, include: "hover:bg-gray-200"
              Is selected or is today, include: "font-semibold"
            -->
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2021-12-27">27</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2021-12-28">28</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2021-12-29">29</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2021-12-30">30</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2021-12-31">31</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-01">1</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-02">2</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-03">3</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-04">4</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-05">5</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-06">6</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-07">7</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-08">8</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-09">9</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-10">10</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-11">11</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50 border border-slate-700">
              <time datetime="2022-01-12">12</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-13">13</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-14">14</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-15">15</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-16">16</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-17">17</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-18">18</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-19">19</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-20">20</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-21">21</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-22">22</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-23">23</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-24">24</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-25">25</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-26">26</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-27">27</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-28">28</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-29">29</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-30">30</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-900 dark:text-white hover:bg-orange-600/50">
              <time datetime="2022-01-31">31</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2022-02-01">1</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2022-02-02">2</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2022-02-03">3</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2022-02-04">4</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2022-02-05">5</time>
            </button>
            <button type="button" class="mx-auto flex size-8 items-center justify-center rounded-full text-gray-400 dark:text-slate-400 hover:bg-orange-600/50">
              <time datetime="2022-02-06">6</time>
            </button>
          </div>
        </div>
        <div class="py-1" role="none">
          <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <svg class="bi bi--clock size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
            </svg>
            Time
          </a>
        </div>
        <div class="py-1" role="none">
          <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <svg class="bi bi--bell size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
            </svg>
            Remind me
          </a>
        </div>
        <div class="py-1" role="none">
          <a href="#" class="group/link flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <svg class="bi bi--repeat size-3 text-slate-500 group-hover/link:text-slate-700 dark:text-slate-400 dark:group-hover/link:text-white" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
            </svg>
            Repeat
          </a>
        </div>
      </div>
    </details>
    <details class="relative z-0">
      <summary class="marker-none cursor-pointer">
        <div class="text-slate-400 hover:bg-slate-200 hover:text-slate-500 dark:hover:bg-slate-800 dark:hover:text-white inline-flex items-center justify-center rounded-full text-xs py-1 px-2 -ml-1 gap-1">
          <svg class="bi bi--tag size-2.5 text-slate-400" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
            <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0" />
            <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z" />
          </svg>
        </div>
      </summary>
      <div class="absolute z-50 max-w-md w-max py-1 bg-slate-200 dark:bg-slate-950 shadow rounded-xl overflow-hidden divide-y divide-slate-300 dark:divide-slate-800">
        <div class="py-1" role="none">
          <div class="group flex items-center gap-2 px-4 py-1 text-slate-800 dark:text-white whitespace-nowrap">
            <svg class="bi bi--search size-3 text-inherit" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            <input class="bg-transparent focus:outline-none" placeholder="Search or create label">
          </div>
        </div>
        <div class="py-1" role="none">
          <label class="group/label flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <input type="checkbox" class="peer appearance-none w-0 hidden">
            <svg class="bi bi--tag size-3 text-slate-500 dark:text-slate-400 group-hover/label:text-slate-600 dark:group-hover/label:text-white peer-checked:text-orange-500" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0" />
              <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z" />
            </svg>
            Tutorial
            <svg class="bi bi--check2 size-4 ml-auto text-orange-500 invisible peer-checked:visible" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
            </svg>
          </label>
          <label class="group/label flex items-center gap-2 px-4 py-1 hover:bg-slate-300 dark:hover:bg-slate-900 whitespace-nowrap">
            <input type="checkbox" class="peer appearance-none w-0 hidden">
            <svg class="bi bi--tag size-3 text-slate-500 dark:text-slate-400 group-hover/label:text-slate-600 dark:group-hover/label:text-white peer-checked:text-orange-500" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0" />
              <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z" />
            </svg>
            reminder
            <svg class="bi bi--check2 size-4 ml-auto text-orange-500 invisible peer-checked:visible" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
              <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
            </svg>
          </label>
        </div>
        <div class="p-2" role="none">
          <button type="button" class="rounded-full bg-slate-300 hover:bg-slate-400 dark:bg-slate-900 dark:hover:bg-slate-800 h-8 w-full">
            Clear
          </button>
        </div>
      </div>
    </details>
  </div>

  <%= form.submit class: "sr-only" %>
<% end %>
