<%# locals: (tasks:) -%>

<div class="h-full overflow-y-auto bg-white rounded-xl py-6 dark:bg-slate-900 dark:border-slate-800">
  <div class="px-6 flex justify-end">
    <%= render "grouping_popover_menu" %>
  </div>

  <div class="max-w-3xl w-full px-12 mx-auto mt-6 mb-6">
    <h1 class="text-5xl font-semibold w-fit [view-transition-name:header]">
      <%= yield :main_title %>
    </h1>
    <div class="@container mt-6">
      <p class="rounded-2xl p-2 @[668px]:rounded-full @[668px]:p-0 border-4 border-slate-100 bg-slate-100 dark:border-slate-800 dark:bg-slate-800 inline-flex items-center gap-2 [view-transition-name:notice]">
        <span class="size-8 min-w-8 bg-indigo-100 dark:bg-indigo-700/50 inline-flex items-center justify-center rounded-full [view-transition-name:notice-icon]">
          <%= icon("book", classes: "size-4 text-indigo-500") %>
        </span>
        <span class="text-base text-indigo-500 [view-transition-name:notice-text]">
          <%= yield :main_description %>
        </span>
        <button type="button" class="size-8 min-w-8 bg-slate-200 text-slate-700 hover:bg-slate-300 hover:text-slate-900 dark:bg-slate-700 dark:text-slate-400 dark:hover:bg-slate-600 dark:hover:text-white inline-flex items-center justify-center rounded-full [view-transition-name:notice-link]">
          <%= icon "arrow-up-right", classes: "size-4" %>
        </button>
        <button type="button" class="size-8 min-w-8 bg-slate-200 text-slate-700 hover:bg-slate-300 hover:text-slate-900 dark:bg-slate-700 dark:text-slate-400 dark:hover:bg-slate-600 dark:hover:text-white inline-flex items-center justify-center rounded-full [view-transition-name:notice-action]">
          <%= icon "x-lg", classes: "size-4" %>
        </button>
      </p>
    </div>
  </div>

  <div class="">
    <%= render "form", task: Task.new %>

    <% if tasks.key?(:IGNORE_ME) && tasks.keys.one? %>
      <div class="max-w-3xl px-12 mx-auto">
        <%= render "collection", tasks: tasks[:IGNORE_ME] %>
      </div>
    <% else %>
      <% tasks.each do |group, group_tasks| %>
        <details open class="max-w-3xl px-12 mx-auto">
          <summary class="py-2 text-xl font-semibold cursor-pointer">
            <span class="ml-2">
            <%= group ? group : "No #{params[:grouping].humanize(capitalize: false)}" %>
            </span>
          </summary>
          <%= render "collection", tasks: group_tasks %>
        </details>
      <% end %>
    <% end %>
  </div>
</div>
