<article id="<%= dom_id task %>" class="flex h-full flex-col">
  <header class="z-10 space-y-6 bg-slate-100 dark:bg-slate-800 px-6 py-6">
    <div class="flex items-center justify-start gap-2">
      <%= link_to tasks_path, class: "inline-flex size-8 items-center justify-center rounded-full bg-slate-200 text-slate-500 hover:bg-slate-300 hover:text-slate-600 dark:bg-slate-700 dark:text-slate-400 dark:hover:bg-slate-600 dark:hover:text-white" do %>
        <%= icon "x-lg", classes: "size-4" %>
      <% end %>

      <%= button_to task, action: "update", form_class: "", params: { task: {completed: "toggle"} }, class: "inline-flex h-8 items-center justify-center rounded-full bg-slate-200 px-3 text-slate-500 hover:bg-slate-300 hover:text-slate-600 dark:bg-slate-700 dark:text-slate-400 dark:hover:bg-slate-600 dark:hover:text-white" do %>
        <% if task.completed? %>
          <%= icon "check-circle-fill", classes: "mr-2 size-4" %>
          Completed
        <% else %>
          <%= icon "check-circle", classes: "mr-2 size-4" %>
          Complete
        <% end %>
      <% end %>

      <details class="relative z-0 ml-auto">
        <summary class="marker-none cursor-pointer">
          <div class="inline-flex size-8 items-center justify-center rounded-full bg-slate-200 text-slate-500 hover:bg-slate-300 hover:text-slate-600 dark:bg-slate-700 dark:text-slate-400 dark:hover:bg-slate-600 dark:hover:text-white">
            <%= icon "three-dots-vertical", classes: "size-4" %>
          </div>
        </summary>
        <ul class="absolute right-0 z-50 w-48 overflow-hidden rounded-xl bg-slate-200 py-1 shadow dark:bg-slate-950">
          <li>
            <a href="#" class="flex items-center gap-2 whitespace-nowrap px-2 py-1 hover:bg-slate-300 dark:hover:bg-slate-900">
              <%= icon "copy", classes: "size-3" %>
              Copy link
            </a>
          </li>
          <li>
            <%= button_to task, method: :delete,
                  class: "flex items-center gap-2 w-full whitespace-nowrap px-2 py-1 text-red-500 hover:bg-slate-300 dark:hover:bg-slate-900",
                  form: { data: { turbo_confirm: "Are you sure you want delete?" } } do %>
                    <%= icon "trash3", classes: "size-3 text-red-500" %>
                    Delete task
            <% end %>
          </li>
        </ul>
      </details>
    </div>

    <div class="group flex flex-wrap items-center gap-x-2">
      <% if task.completed? %>
        <h1 class="w-11/12 text-3xl dark:text-slate-400 line-through decoration-orange-500" id="<%= dom_id(task, :title) %>"><%= task.title %></h1>
      <% else %>
        <%= form_with(model: task, class: "", data: { controller: 'autosave' }) do |form| %>
          <%= form.text_field :title, class: "peer w-11/12 bg-transparent text-3xl placeholder:text-slate-600 focus:outline-none", placeholder: "New task", autocomplete: false, value: form.object.title, id: dom_id(task, :title) %>
          <%= form.submit class: "sr-only" %>
        <% end %>
      <% end %>

      <div class="ml-auto">
        <%= render "assignee_popover_form", task: task, context: "details" %>
      </div>

      <div class="flex w-full items-center gap-1">
        <%= render "due_on_popover_form", task: task, context: "details" %>

        <%= render "labels_popover_form", task: task, context: "details" %>

        <%= render "list_popover_form", task: task, context: "details" %>
      </div>
    </div>
  </header>

  <section class="my-4 flex flex-grow flex-col justify-end">
    <%= form_with(model: task, class: "flex-grow px-6 flex flex-col mb-4") do |form| %>
      <%= form.rich_text_area :description, rows: 10, class: "h-full", placeholder: "Start typing..." %>
      <%= form.submit class: "sr-only" %>
    <% end %>

    <p class="text-center text-sm text-slate-400 dark:text-gray-500">
      Created by Stephen &middot;

      <abbr title="<%= task.created_at.to_formatted_s %>" class="cursor-help">
        <%= time_tag task.created_at, "#{time_ago_in_words(task.created_at, scope: 'datetime.distance_in_words.short')} ago" %>
      </abbr>
    </p>
  </section>
</article>
