<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Turbolist" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="view-transition" content="same-origin" />
    <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script type="module">
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning");
      }
    </script>
  </head>

  <body class="h-full bg-slate-200 text-slate-950 dark:bg-slate-950 dark:text-white">
    <div class="h-full grid <%= content_for?(:grid_cols) ? content_for(:grid_cols) : "grid-cols-[16rem_6fr_4fr]" %> auto-rows-fr">
      <div data-turbo-permanent class="w-64 flex flex-col">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="group/sidebar h-full flex grow flex-col border-r border-gray-200 bg-white dark:bg-slate-900 dark:border-slate-800">
          <div class="flex shrink-0 py-3 items-center justify-end px-3">
            <button type="button" class="invisible group-hover/sidebar:visible size-8 hover:bg-slate-100 dark:hover:bg-slate-700 inline-flex items-center justify-center rounded-full">
              <%= icon("layout-sidebar", classes: "size-4 text-slate-500 dark:text-slate-400") %>
            </button>
          </div>
          <nav class="flex flex-1 flex-col overflow-y-auto border-y border-slate-100 dark:border-slate-800">
            <ul role="list" class="flex flex-1 flex-col gap-y-4">
              <li>
                <ul role="list" class="">
                  <li>
                    <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                    <a href="#" class="border-r-2 border-orange-500 bg-slate-200 dark:bg-slate-700 group flex items-center gap-x-3 px-2 py-1 text-sm leading-6 pl-6">
                      <%= icon("inbox-fill", classes: "text-orange-500") %>
                      Inbox
                    </a>
                  </li>
                  <li>
                    <a href="#" class="hover:bg-slate-100 dark:hover:bg-slate-800 flex items-center gap-x-3 px-2 py-1 text-sm leading-6 pl-6">
                      <%= icon("calendar3", classes: "text-orange-500") %>
                      Today
                    </a>
                  </li>
                  <li>
                    <%= link_to tasks_path, class: "hover:bg-slate-100 dark:hover:bg-slate-800 flex items-center gap-x-3 px-2 py-1 text-sm leading-6 pl-6" do %>
                      <%= icon("ui-checks", classes: "text-orange-500") %>
                      Tasks
                    <% end %>
                  </li>
                </ul>
              </li>
              <li>
                <details class="relative z-0">
                  <summary class="pl-6 cursor-pointer text-xs font-semibold leading-6 text-slate-500 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 px-2 py-1">
                    Recent
                  </summary>
                  <ul role="list" class="">
                    <li>
                      <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
                      <a href="#" class="hover:bg-slate-100 dark:hover:bg-slate-800 flex items-center gap-x-3 px-2 py-1 text-sm leading-6 pl-6">
                        <span class="">📆</span>
                        This Week
                      </a>
                    </li>
                    <li>
                      <a href="#" class="hover:bg-slate-100 dark:hover:bg-slate-800 flex items-center gap-x-3 px-2 py-1 text-sm leading-6 pl-6">
                        <span class="">👋</span>
                        Getting Started
                      </a>
                    </li>
                    <li>
                      <a href="#" class="hover:bg-slate-100 dark:hover:bg-slate-800 flex items-center gap-x-3 px-2 py-1 text-sm leading-6 pl-6">
                        <span class="">🍎</span>
                        Groceries
                      </a>
                    </li>
                  </ul>
                </details>
              </li>
              <li>
                <div class="relative pl-6 text-xs font-semibold leading-6 text-slate-500 dark:text-slate-400 hover:bg-slate-100 dark:hover:bg-slate-800 px-2 flex items-center justify-between">
                  <span class="py-1">
                    <span class="group-hover/sidebar:text-slate-500 dark:group-hover/sidebar:text-white">Lists</span>
                    <%= link_to "Browse all", lists_path, class: "invisible group-hover/sidebar:visible ml-1 text-slate-400 after:absolute after:inset-0 after:block" %>
                  </span>

                  <span class="invisible group-hover/sidebar:visible z-10 flex items-center gap-px">
                    <button type="button" class="size-7 hover:bg-slate-200 dark:hover:bg-slate-700 inline-flex items-center justify-center rounded-full">
                      <%= icon("folder-plus", classes: "size-4 text-slate-500 dark:text-slate-400") %>
                    </button>
                    <%= link_to new_list_path, title: "New list", class: "size-7 hover:bg-slate-200 dark:hover:bg-slate-700 inline-flex items-center justify-center rounded-full" do %>
                      <%= icon("journal-plus", classes: "size-4 text-slate-500 dark:text-slate-400") %>
                    <% end %>
                  </span>
                </div>
                <ul role="list" class="">
                  <% @application_lists.each do |list| %>
                    <li class="relative hover:bg-slate-100 dark:hover:bg-slate-800 flex items-center gap-x-2 px-2 py-1 text-sm leading-6 pl-6" data-controller="emoji-picker">
                      <% emoji_popover_dom_id = dom_id(list, :emoji_popover) %>
                      <%= form_with(model: list, data: { controller: :autosave }) do |form| %>
                        <button type="button"
                                class="relative z-10 size-6 text-slate-500 hover:bg-slate-300 dark:text-slate-400 dark:hover:bg-slate-700 inline-flex items-center justify-center rounded-full"
                                style="--anchor-name: --<%= emoji_popover_dom_id %>"
                                popovertarget="<%= emoji_popover_dom_id %>">
                          <%= form.text_field :avatar, data: { action: "autosave#save", emoji_picker_target: "input" }, class: "appearance-none border-0 bg-transparent w-[2ch] text-center text-lg pointer-events-none" %>
                        </button>
                        <%= form.submit class: "sr-only" %>
                      <% end %>
                      <div id="<%= emoji_popover_dom_id %>"
                           popover="auto"
                           style="--anchor: --<%= emoji_popover_dom_id %>"
                           class="rounded overflow-hidden border-0"
                           data-emoji-picker-target="popover">
                        <emoji-picker></emoji-picker>
                      </div>
                      <%= link_to list.title, list, class: "after:absolute after:inset-0 after:block" %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="flex shrink-0 p-4 items-center justify-end">
            <%= render "layouts/user_popover_menu", user: Current.user %>
          </div>
        </div>
      </div>

      <main class="p-2.5 pr-1.5 [view-transition-name:main]">
        <%= yield %>
      </main>

      <aside class="p-2.5 pl-1.5">
        <!-- Secondary column (hidden on smaller screens) -->
        <div class="h-full bg-white rounded-xl overflow-hidden dark:bg-slate-900 dark:border-slate-800 [view-transition-name:aside]">
          <% if content_for? :aside %>
            <%= yield :aside %>
          <% else %>
            <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1560803262-95a9de00a057?q=80&amp;w=3687&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          <% end %>
        </div>
      </aside>
    </div>
  </body>
</html>
